h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
  padding-bottom: 0.4rem;
}

.body-content {
  margin-top: 60px;
}

.logo-container {
  position: absolute;
  top: -65px;
}

.img-logo {
  width: 170px;
}

@media only screen and (max-width: 576px) {
  .logo-container {
    position: absolute;
    top: -80px;
  }

  .img-logo {
    width: 70px;
  }
}
